{% extends '_wrapper.twig' %}
{% block main %}

    <div class="container-fluid p-0" id="studio">
        <div class="row services-page-header studio-jumbo">
            <div class=" margin-header">
                <div class="services-page-header-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="shadow" data-aos="zoom-in-right">
                                    <p class="display-4 m-0 text-white">{{ entry.studioIndexTitle }}</p>
                                    {{ entry.studioIndexSubtitle }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid p-0" id="studio">
            <!-- Studio Circles -->
{#            <div class="row studio__cirles-row">#}
{#                <div class="col-sm-12">#}
{#                    <p class="display-4 text-center py-5">5 Studios, Infinite Creativity</p>#}
{#                </div>#}
{#                {% set entries = craft.entries().section('studios').orderBy('dateCreated ASC').all() %}#}
{#                #}{# Display the entries #}
{#                {% for entry in entries %}#}
{#                    <div class="studio__circle">#}
{#                        {% set images = entry.studioSquareImage %}#}
{#                        <div class="studio_circle-bg"  {% for img in images %}style="background-image: url('{{ img.getUrl }}')"{% endfor %}></div>#}
{#                        <a href="{{ entry.url }}">#}
{#                            <p>{{ entry.title }}</p>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}

            <!--  TOP CONTENT  -->
            <div class="container-fluid topContent">
                <div class="row">
                    <div class="col-sm-12 col-md-8 mx-auto py-5">
                        <p class="display-4 text-center py-5 five-studios">5 Studios, Infinite Creativity</p>
                        {{ entry.studioContent }}
                        <hr style="border-bottom:solid 3px #cf0015; width: 20%; margin: 0 auto; opacity: 1;">
                    </div>
                </div>
            </div>



            <!-- STUDIO DETAILS -->
            <div class="row studios-row">
                {# Create an entry query and set some parameters on it #}
                {% set entryQuery = craft.entries().section('studios').order('dateCreated ASC').all() %}
                {# Execute the query and get the results #}
                {% set entries = entryQuery %}
                {% for entry in entries %}
                    {% if loop.index % 2 == 0 %}
                        <div class="container-fluid studio-container  {% if loop.index % 2 == 0 %}{% endif %}"
                             id="studio-{{ entry.title }}"
                             {% if loop.index % 2 == 0 %}style="background-color: #f0f0f0"{% endif %}>
                            <div class="row p-0">
                                <div class="col-sm-12">
                                    <h1 class="display-4">{{ entry.title }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-5 card-col border-red">
                                    <div class="card-col-content " style="border: none;" >
                                        {{ entry.studioEntryDetails }}
                                    </div>
                                    <div class="text-center" style="width: 75%; margin: 2em auto;">
                                        <a href="{{ entry.getUrl }}" class="btn btn-lg"> More Info</a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-7 studio-img-col">
                                    {% set images = entry.studioEntryFloorplan %}
                                    {% for img in images %}
                                        <img src="{{ img.getUrl }}" class="img-fluid" alt="" data-aos="zoom-in-left">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="container-fluid studio-container" style="background-color: #dedede" id="studio-{{ entry.title }}"
                             {% if loop.index % 2 == 0 %}style="background-color: #ffffff;" {% endif %} >
                            <div class="row p-0">
                                <div class="col-sm-12">
                                    <h1 class="display-4">{{ entry.title }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-7 studio-img-col">
                                    {% set images = entry.studioEntryFloorplan %}
                                    {% for img in images %}
                                        <img src="{{ img.getUrl }}" class="img-fluid" alt="" data-aos="zoom-in-left">
                                    {% endfor %}
                                </div>
                                <div class="col-sm-12 col-lg-5 card-col border-red">
                                    <div class="card-col-content ">
                                        {{ entry.studioEntryDetails }}
                                    </div>
                                    <div class="text-center" style="width: 75%; margin: 2em auto;">
                                        <a href="{{ entry.getUrl }}" class="btn btn-lg"> More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


        </div>

    </div>

    <div class="container-fluid" id="studioCTA">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="display-4 text-center aos-init aos-animate">{{ entry.studioIndexCta }}</p>
                        <div class="text-center">
                            <a href="mailto:info@nmpfilms.com?subject=Studio Rent Inquiry"
                               class="btn btn-lg">{{ entry.studioIndexCtaButtonIndex }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}