{% extends '_wrapper.twig' %}
{% block main %}

    <div class="container-fluid p-0" id="studio">
        <!-- HEADER -->
        <div class="row studio-header">

                <div class="studio__title-container">
                    <div class="row">
                        <div class="col-10 col-md-6 offset-md-2 shadow" data-aos="fade-right">
                            <p class="display-4 m-0">{{ entry.studioIndexTitle }}</p>
                                    {{ entry.studioIndexSubtitle }}
                        </div>
                    </div>
                </div>
{#            </div>#}
        </div>

        <div class="container-fluid p-0" id="studio">
            <!-- Studio Circles -->
            <div class="row studio__cirles-row">
                <div class="col-sm-12">
                    <p class="display-4 text-center py-5">5 Studios, Infinite Creativity</p>
                </div>
                {% set entries = craft.entries().section('studios').orderBy('dateCreated ASC').all() %}
                {# Display the entries #}
                {% for entry in entries %}
                    <div class="studio__circle">
                        {% set images = entry.studioSquareImage %}
                        <div class="studio_circle-bg"  {% for img in images %}style="background-image: url('{{ img.getUrl }}')"{% endfor %}></div>
                        <a href="{{ entry.url }}">
                            <p>{{ entry.title }}</p>
                        </a>
                    </div>

                {% endfor %}

            </div>

            <!-- MWBE STRIPE -->
            <div class="row" id="mwbaStripe">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-sm-12"> -->
                        <div class="col-sm-10 mx-auto">
                            <div class="text-center">
                                <p class="lead">Two state of the art facilities - one in Soho & one on the LES with a
                                    combined five shooting studios. Whether you need a functioning kitchen set, a loft
                                    look with exposed brick, or a custom branded set we have what you’re looking for. And if
                                    we don’t, we’ll build it. Contact us to schedule a tour, we’d love to show you around</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- STUDIO DETAILS -->
            <div class="row studios-row">
                {# Create an entry query and set some parameters on it #}
                {% set entryQuery = craft.entries().section('studios').order('dateCreated ASC').all() %}
                {# Execute the query and get the results #}
                {% set entries = entryQuery %}
                {% for entry in entries %}
                    {% if loop.index % 2 == 0 %}
                        <div class="container-fluid studio-container  {% if loop.index % 2 == 0 %}{% endif %}"
                             id="studio-{{ entry.title }}"
                             {% if loop.index % 2 == 0 %}style="background-color: #f0f0f0"{% endif %}>
                            <div class="row p-0">
                                <div class="col-sm-12">
                                    <h1 class="display-4">{{ entry.title }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-5 card-col border-red">
                                    <div class="card-col-content " style="border: none">
                                        {{ entry.studioEntryDetails }}
                                    </div>
                                    <div class="text-center" style="width: 75%; margin: 2em auto;">
                                        <a href="{{ entry.getUrl }}" class="btn btn-lg"> More Info</a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-7 studio-img-col">
                                    {% set images = entry.studioEntryFloorplan %}
                                    {% for img in images %}
                                        <img src="{{ img.getUrl }}" class="img-fluid" alt="" data-aos="zoom-in-left">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="container-fluid studio-container bg-light" id="studio-{{ entry.title }}"
                             {% if loop.index % 2 == 0 %}style="background-color: #ffffff;" {% endif %} >
                            <div class="row p-0">
                                <div class="col-sm-12">
                                    <h1 class="display-4">{{ entry.title }}</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-7 studio-img-col">
                                    {% set images = entry.studioEntryFloorplan %}
                                    {% for img in images %}
                                        <img src="{{ img.getUrl }}" class="img-fluid" alt="" data-aos="zoom-in-left">
                                    {% endfor %}
                                </div>
                                <div class="col-sm-12 col-lg-5 card-col border-red">
                                    <div class="card-col-content ">
                                        {{ entry.studioEntryDetails }}
                                    </div>
                                    <div class="text-center" style="width: 75%; margin: 2em auto;">
                                        <a href="{{ entry.getUrl }}" class="btn btn-lg"> More Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>


        </div>

    </div>

    <div class="container-fluid" id="studioCTA">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="display-4 text-center aos-init aos-animate">{{ entry.studioIndexCta }}</p>
                        <div class="text-center">
                            <a href="mailto:info@nmpfilms.com?subject=Studio Rent Inquiry"
                               class="btn btn-lg">{{ entry.studioIndexCtaButtonIndex }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}